<div class="container">
  <h1>Editing Prayer</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @prayer, :class => 'button-xs' %> |
  <%= link_to 'Back', prayers_path, :class => 'button-xs' %>
</div>
