<div class="container">
  <h1>Editing Member</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @member, :class => 'button-xs' %> |
  <%= link_to 'Back', members_path, :class => 'button-xs' %>
</div>
